<img src="./assets/pic/1.jpg">
<a routerLink="mensout" routerLinkActive="active">Men's Outerwear</a>
<img src="./assets/pic/2.jpg">
<a routerLink="ladiesout" routerLinkActive="active">Ladies Outerwear</a>
<table>
  <tr>
    <td>
      <img src="./assets/pic/3.jpg">
      <a routerLink="menst" routerLinkActive="active">Men's T-Shirts</a>
    </td>
    <td>
      <img src="./assets/pic/4.jpg">
      <a routerLink="ladiest" routerLinkActive="active">Ladies T-Shirts</a>
    </td>
  </tr>
</table>
<p>
  Home
</p>